@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: none;
}


body {
    font-family: Raleway, sans-serif;
    font-weight: 500;

}