@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@1,500&display=swap');

*,*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: none;
} 


body {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: #292420;
    background-color: #BCA881;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

/* Headings and Logo */
h1{
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #292420
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex: 1;
    font-size: 300%;
    margin-left: 25px;
}

.remove-underline{
    text-decoration: none;
}


/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 120%;
    letter-spacing: 1px;
    margin-right: 25px;
    color:#292420;
    
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 15px;
}

.nav-links li{
    margin-right: 10px;  
    
}

.nav-links a{
    text-decoration: none;
    color: inherit;
}

/* Navigation bar further styling: hoover*/

.nav-links li {
    position: relative;
}

.nav-links li a:hover {
    color: #292420
    ;
}

.nav-links li a::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #7A6044;
    transform: scaleX(0);
    transition: transform 0.2s ease;

}

.nav-links li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

ul.nav-links li a.active {
     border-bottom: 2px solid #7A6044;
}

.nav-links li a:hover::after {
    transform-origin: right;
    transform: scaleX(1)
}

/* Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url("../images/Hero-image.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Adding zoom movement to Hero Image */

@keyframes zoomIn{
    from {
          transform: scale(0.9);
    }
      to {
          transform: scale(1.0);
    }     
}

/* Applying Animation to Hero Image */

#hero-image {
    animation: zoomIn 2.0s ease-in-out;
    animation-fill-mode: forwards;

    /* Styling Footer */
}
footer {
    background-color:#7A6044;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0;
    padding:0;
    list-style: none;
}

.social-media i{
    color:#f9d3a7;
    text-decoration: none;
    padding: 3rem 1rem;
    font-size: 2rem;
}

/* Placing main-content, centering section container*/

section.dogs-place-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.dogs-place-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

section.hangouts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hangouts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

section.food-drinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.food-drinks-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}

/* Styling images of main content sections*/

.dogs-place-image,
.hangouts-home-image,
.food-drinks-image{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 500px;
    height: auto;
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 30px;
    margin-left: 40px;
    padding: 10px;
    
}

.dogs-place-image,
.hangouts-home-image,
.food-drinks-image{
    border-radius: 80px;
}


/* Framing of each section of text*/

div.dogs-place-section{
    background-color: rgba(249, 211, 167, 0.3);
    padding: 25px;
    border-radius: 60px;
}

div.hangouts-section{
    background-color: rgba(249, 211, 167, 0.3);
    padding: 25px;
    border-radius: 60px;
}

div.food-drinks-section{
    background-color: rgba(249, 211, 167, 0.3);
    padding: 25px;
    border-radius: 60px;
}



/* Gallery Page - text section*/

.hangouts-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(249, 211, 167, 0.3);
    padding: 25px;
    border-radius: 60px;
    margin: 20px;
    margin-right: 300px;
    margin-left: 300px;
}

/* Gallery image section */

.gallery-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    margin: 40px;

}

.gallery-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    
}

 /* Further styling for better positioning on page*/

.gallery-container img{
    border-radius: 8px;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-container span img {
    position: absolute;
    top: 0;
    left: 0;
}
.pic-1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.pic-2 {
    grid-column: 5 / span 4;
    grid-row: 1 / span 2;
}

.pic-3 {
    grid-column: 9 / span 4;
    grid-row: 1 / span 2;
}

.pic-4 {
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
}

.pic-5 {
    grid-column: 5 / span 4;
    grid-row: 3 / span 2;
}

.pic-6 {
    grid-column: 9 / span 4;
    grid-row: 3 / span 2;
}

.pic-7 {
    grid-column: 1 / span 6;
    grid-row: 5 / span 4;
}

.pic-8 {
    grid-column: 7 / span 6;
    grid-row: 5 / span 4;
}





/*Contact Page*/

.sign_up_form{
    display: grid;
    flex-direction: column;
    align-items: center;
}

.sign_up_form_container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.sign_up_form_title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.text_input{
    width: 50%;
    padding: 10px;
    border: 1px solid #7A6044;
    border-radius: 8px;
    margin-left: 140px;
    margin-bottom: 20px;
}

.label_hidden {
    display: none;
}

#your_name,
#email,
#your_dogs_name {
    background-color: #f9d3a7;
    border-color: #292420;
    border-width: 2px;
    color: #292420;
}

::placeholder {
    font-family: Raleway, sans-serif;
}

/* Further styling of Dog-preference buttons*/

.dog-preference {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.choice-preference {
    margin-left: 10px;
    margin-bottom: 10px;
}

.small-preference {
    margin: 10px;
}

.big-preference {
    margin: 10px;
}

.general-preference {
    margin: 10px;
}

/* Submit-button styling*/

.submit-button {
    margin: 10px;
}

.submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.submit_button {
    background-color:#f9d3a7;
    color: #292420;
    width: 100px;
    height: 30px;
    border-color: #292420;
    border-style: outset;
    border-radius: 4px;
    border-width: 3px;

}

