@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: none;
}


body {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: #292420;
}

/* headings and logo */
h1,
h2 {
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #292420
}

#title {
    display: flex;
    justify-content: center;
    font-size: 300%;

}

/* navigation bar*/

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 120%;
    letter-spacing: 3px;
    margin-right: 25px;
}


.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}